.register {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.register__navbar {
  height: 80px;
  position: absolute;
  top: 0;
  width: 100vw;
}
.register__navbarWrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.register__navbarItem {
  font-size: 1.4rem;
  font-weight: 500;
  color: #490b3d;
  margin: 10px;
}
form {
  display: flex;
  flex-direction: column;
  z-index: 1;
  border: 1px solid #490b3d;
  padding: 50px;
  border-radius: 10px;
  background-color: #f7f7f7;
}
.register__title {
  margin-bottom: 15px;
  font-weight: 600;
  color: #490b3d;
}
.register__button {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  background-color: #490b3d;
  margin-top: 15px;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.register__wave {
  position: absolute;
  bottom: 0;
}
